<div id="root">
    <nav>
        <a id="filemanagerLink" href="#">FILEMANAGER</a>
    </nav>

    <div id="mainAndAsideWrapper">
        <aside>

        </aside>

        <main>

        </main>
    </div>
</div>